spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: customer-service
          uri: http://customer-service:8081
          predicates:
            - Path=/api/customers/**
          filters:
            - StripPrefix=1
        - id: loan-service
          uri: http://loan-service:8082
          predicates:
            - Path=/api/loans/**
          filters:
            - StripPrefix=1
        - id: credit-engine-service
          uri: http://credit-engine-service:8083
          predicates:
            - Path=/api/credit/**
          filters:
            - StripPrefix=1
        - id: notification-service
          uri: http://notification-service:8084
          predicates:
            - Path=/api/notifications/**
          filters:
            - StripPrefix=1

logging:
  level:
    org.springframework.cloud.gateway: INFO
