server:
  port: 8082

spring:
  application:
    name: loan-service
  datasource:
    url: jdbc:postgresql://localhost:5432/los_db
    username: los_user
    password: los_password
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

logging:
  level:
    com.los.loan: DEBUG
